body {
	font-family: 'Raleway', sans-serif;
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	box-shadow: 0px 0px 1px 1px #ddd;
}
.inner-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.clear {
	clear: both;
}


header {
	background: url(../img/bg-img.png);
	background-size: cover;
	min-height: 700px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
	width: 300px;
	margin: 0px auto;
	text-align: center;
}
.logo h1{
	font-size: 60px;
	font-family: pacifico, cursive;
	display: inline;
	padding-left: 15px;
}
header h2 {
	font-size: 36px;
	color: #666;
	text-align: center;
	padding-top: 20px;
}
.features {
	position: relative;
	margin-bottom: 160px;
}
.features-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 36rem;
	padding-top: 60px;
}

.feature-group h3 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;
}
.feature-group p {
	padding-bottom: 60px;
	font-family: helvetica, sans-serif;
	line-height: 1.5em;
	color: #969696;
}
.feature-group h3 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;
}

.features .phone {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.features .phone img {
	width: 100%;
}

.app {
	background: #e3e3e3;
	padding: 60px 0;
	box-sizing: border-box;
}
.app-container {
	display: flex;
	gap: 4rem;
}
.get-app {
	flex: 1;
}
.get-app h3 {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 30px;
}
.get-app p {
	font-family: helvetica, sans-serif;
	line-height: 1.5em;
	color: #969696;
	padding-bottom: 30px;
}
.get-app i {
	font-size: 32px;
	color: #fff;
	background: #000;
	padding: 25px;
	width: 35px;
	border-radius: 50%;
	text-align: center;
	margin-right: 15px;
	opacity: 0.5;
}
.get-app i:hover {
	opacity: 1;
}
.app-link-box {
	flex: 1;
}
.app iframe {	
	border-radius: 10px;
	width: 100%;
}

.blog {
	text-align: center;
}
.blog h2 {
	font-size: 24px;
	padding-top: 60px;
}
.blog p {
	padding-top: 30px;
	padding-bottom: 60px;
}
.blog p .color {
	font-weight: bold;
}
.image {
	background: url(../img/people.png) no-repeat;
	background-size: cover;
	height: 320px;
}
.social {
	text-align: center;
	padding: 60px;
}
.social h3 {
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 30px;
}
.social p {
	color: #969696;
	padding-bottom: 30px;
}
.social i {
	font-size: 20px;
	color: #fff;
	background: #000;
	padding: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	opacity: 0.5;
}
.social i:hover {
	opacity: 1;
}

footer {
	height: 134px;
	background: #e3e3e3;
}
.flex-nav {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

ul li {
	display: inline-block;
	padding-right: 40px;
}
ul li a {
	text-decoration: none;
	color: #969696;
	font-family: helvetica;
	font-weight: bold;
}
ul li a:hover {
	text-decoration: underline;
	color: #666;
}

@media(max-width: 1200px) {
	.inner-wrapper {
		padding: 0 20px;
	}
	
}

@media(max-width: 1179px) {
	.inner-wrapper {
		padding: 0 20px;
	}
	.features-container {
		grid-column-gap: 20rem;
	}
	.features .phone {
		width: 260px;
		top: 10%;
	}
}

@media(max-width: 1024px) {
	.inner-wrapper {
		padding: 0 20px;
	}
	.features-container {
		grid-column-gap: 2rem;
	}
	.features .phone {
		display: none;
	}
	.app-container {
		flex-direction: column;
	}
	.social i {
		margin-bottom: 10px;
	}
}

@media(max-width: 640px) {
	header h2 {
		font-size: 24px;
	}
	.social-link {
		text-align: center;
	}
	.features {
		margin-bottom: 60px;
	}
	.features-container {
		grid-template-columns: repeat(1, 1fr);
	}
	
	ul li {
		display: block;
		margin-bottom: 1rem;
	}
	footer {
		height: 234px;
	}
}